.dub
docs.json
__dummy.html
docs/
qrcode_generator
qrcode_generator.so
qrcode_generator.dylib
qrcode_generator.dll
qrcode_generator.a
qrcode_generator.lib
qrcode_generator-test-*
*.exe
*.o
*.obj
*.lst
